<p>
<%= image_tag comment.user.avatar(:thumbnail) %>
<strong><%= comment.user.name %>: </strong>
<%= comment.content %>
<% if current_user_owns_this(comment) %>
    <%= link_to edit_comment_path(comment) do %><i class = "fa fa-pencil"></i> Editar <% end %>
    <%= link_to comment_path(comment), method: :delete, data: { confirm: "Realmente desea borrar?" } do %><i class = "fa fa-trash"></i> Borrar comentario <% end %>
<% end %>
</p>
