<div class = "well row">
    <h2><%= link_to post.title, post %></h2>
	<%= link_to (image_tag post.image.url(:medium), class:"img-responsive center-block"), post.image.url(:original) %>
    <h4><%= image_tag post&.user&.avatar&.url(:thumbnail) %> <%= post&.user&.name || "Anon" %>
    <% if current_user_owns_this(post) %>
	    <%= link_to edit_post_path(post) do %><i class = "fa fa-pencil"></i> Edit <% end %>
	    <%= link_to post_path(post), method: :delete, data: { confirm: "Confirm delete?" } do %><i class = "fa fa-trash"></i> Delete Post <% end %>
    <% end %>
	</h4>
    <h4>Comments:</h4>
    <div class = "row">
	<% if post.comments.present? %>
		<% if defined? comments %>
	    <% post.comments.last(comments).each do |comment| %>
		<%= render partial: "comments/show", locals: { post: post, comment: comment } %>
		<% end %>
		<% if post.comments.length > 5 %>
        <div class = "container"><%= link_to "See all comments...", post %></div>
		<% end %>
		<br>
		<% else %>
		<% post.comments.each do |comment| %>
		<%= render partial: "comments/show", locals: { post: post, comment: comment } %>
		<% end %>
		<% end %>
	<% else %>
	    <div class = "container"> <ul><li>No comments yet.</li></ul> </div>
	<% end %>
    </div>
	<%= link_to new_comment_path(post_id: post.id) do %><i class = "fa fa-commenting"></i> Post comment... <% end %>
</div>