<p id="notice"><%= notice %></p>

<h1>Imagenes compartidas</h1>

<% if Post.any? %>
  <% Post.all.each do |post| %>
    <div class = "well row">
      <h2><%= post.title %></h2>
      <%= image_tag post.image(:medium) %>
      <h3><%= image_tag post.user.avatar(:thumbnail)%> <%= post.user.name %></h3>
    <% if current_user_owns_the_post?(post) %>
      <div class = "row">
          <%= link_to edit_post_path(post) do %><i class = "fa fa-2x fa-pencil"></i> Editar <% end %> 
          <%= link_to post_path(post), method: :delete do %><i class = "fa fa-2x fa-trash"></i> Borrar Post <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
<% else %>
  <h4>Nadie ha subido imagenes todavia... se el primero!</h4>
<% end %>

<%= link_to 'Subir nueva imagen', new_post_path %>
